*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    background: linear-gradient(180deg, #383e75,#2d315f,#22254a);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

h1{
    margin: 15px;
    font-size: 45px;
}

p{
    font-size: 30px;
}

.botones{
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    padding: 15px;
    border: 10px solid orange;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

button{
    background-color: rgb(153, 179, 198);
    padding: 15px 25px;
    margin: 5px;
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(34, 24, 49);
    color: white;
}

.resultado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid orange;
    background-color: white;
    width: 80vh;
    height: 15vh;
}

#onScreen {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}